button {
  margin-bottom: 15px;
}
.vehicle {
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #cedbf3;
    img {
      opacity: 0.5;
    }
  }
  img {
    width: 100%;
  }
  h3 {
    margin-top: 15px;
    display: inline-block;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  p {
    color: #4A4F54;
  }
}
